span(ng-if="hmtext.length > hmlimit")

  span(ng-hide="hmfulltext", class="hmblink")
    | {{ hmtext | limitTo:hmlimit }}...
    a(class="{{ hmMoreClass }}", ng-click="toggleValue()")
      |  {{ hmMoreText }}

  span(ng-show="hmfulltext", class="hmblink")
    | {{ hmtext }}
    a(class="{{ hmLessClass }}", ng-click="toggleValue()")
      |  {{ hmLessText }}

span(ng-if="hmtext.length <= hmlimit")
  | {{ hmtext }}
