.item {
  float: left;
  background-color: #79a8e3;
  border-radius: 6px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  label, > span {
    color: #fff;
  }
  select {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.my {
  .text-muted {
    font-size: 10px;
  }
}
.active .my .text-muted {
  color: #f1f1f1;
}
.page2 {
  padding-top: 100px;
}
.remove {
  display: inline-block;
  .bt {
    background-color: #e6e8e5;
    color: #737472;
    font-size: 24px;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #d6d8d5;
    }
  }
  .smbt {
    background-color: #e6e8e5;
    color: #737472;
    font-size: 12px;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1001;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    &:hover {
      background-color: #d6d8d5;
    }
  }
  &.open {
    .bt {
      color: #fff;
      background-color: #ec6a38;
      &:hover {
        background-color: #d66133;
      }
      z-index: 1001;
    }
  }
  .dropdown-menu {
    margin-top: -60px;
    margin-left: -15px;
    width: 300px;
    padding: 30px 15px 10px 15px;
    > strong {
      margin-left: 50px;
      margin-bottom: 20px;
    }
    a {
      padding-left: 3px;
      display: block;
      margin-bottom: 10px;
      color: #000;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}
a.read-less, a.read-more {
  cursor: pointer;
}
@trans: all linear 0.3s;
.animate-repeat {
  &.ng-leave, &.ng-enter, &.ng-move{
    -webkit-transition: @trans;
    -moz-transition: @trans;
    -ms-transition: @trans;
    -o-transition: @trans;
    transition: @trans;
  }
}
.animate-repeat {
  &.ng-enter, &.ng-move, &.ng-leave.ng-leave-active {
    opacity: 0;

  }
}
.animate-repeat {
  &.ng-enter.ng-enter-active, &.ng-move.ng-move-active, &.ng-leave {
    opacity: 1;
  }
}